<div class="cust-title">
    <h1>AROKEE.com</h1>
</div>

<div class="cuto-control">
    <!-- <button class="av-controll" (click)="onCall(1000,1)">Call</button> -->
    <button class="av-controll" (click)="handleExit($event)">End</button>
    <button class="av-controll" (click)="handleMic($event, audio_status)">{{audio_status}}</button>
    <button class="av-controll" (click)="handleCamera($event, video_status)">{{video_status}}</button>
</div>

<div [id]="localCallId" class="local"></div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>